# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: WebKit
AllowAllConstructorInitializersOnNextLine: False
ConstructorInitializerAllOnOneLineOrOnePerLine: True
BreakBeforeBraces: Allman
ColumnLimit: 80
TabWidth: 4
...
